.App {
  text-align: center;
}

img {
  width: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-weight: bold;
}

.diceImg {
  margin-right: 10px;
}

.listItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./images/home_banner.jpg');
  background-position: center;
  background-size: cover;
  height: 92vh;
  color: #fafafa; 
}

.homeInvite {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  background-color: black;
}

